service notcatd /system_ext/bin/notcatd
    class core
    user system
    group system
    seclabel u:r:notcatd:s0
    socket notcat_socket seqpacket 0666 system system

    on post-fs-data
        mkdir /data/misc/notcat 0755 system system